$display-time-short: 45s;
$display-time-long: 75s;

@mixin setColor($eventName, $eventAction, $color) {
  &.#{$eventName}.#{$eventAction} {
    > .head {
      &:after {
        background: $color;
      }
      > .octicon {
        color: $color;
      }
    }
    > .body {
      > .title {
        background: $color;
      }
    }
  }
}

@mixin hasBody($eventName, $eventAction) {
  &.#{$eventName}.#{$eventAction} {
    > .head {
      margin-top: -320px;
    }
    > .body {
      display: block;
      margin-top: 0;
    }
  }
}

@mixin avatar {
  $size: 90px;
  width: $size;
  height: $size;
  border-radius: 3px;
}

.event {
  color: $color-black;

  &:before {
    content: '';
    @include fullParent();

    z-index: 1;
    animation-fill-mode: both;
    animation-duration: 1s;
    background: $color-black;
    opacity: 0;
  }

  > .head, >.body {
    @include centerElement(266px, 820px);
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);

    z-index: 2;
    overflow: auto;
    animation-fill-mode: both;
    animation-duration: 1s;
  }

  > .head {
    font-size: 28px;
    font-weight: 700;

    > .user {
      > .avatar {
        position: absolute;
        top: 60px;
        right: 160px;
        @include avatar();
      }
      > .login {
        position: absolute;
        top: 172px;
        right: 0;
        width: 50%;
        text-align: center;
      }
    }

    > .title {
      position: absolute;
      top: 172px;
      left: 0;
      width: 50%;
      text-align: center;
      text-transform: uppercase;
    }

    > .octicon {
      position: absolute;
      top: 72px;
      left: 162px;
      height: 70px;
      width: 70px;
    }

    &:after {
      content: '';
      height: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      animation-timing-function: linear;
      animation-duration: $display-time-short;
      animation-name: inverseScroll;
      animation-fill-mode: both;
    }
  }

  > .body {
    @include centerElement(370px, 820px);
    display: none;
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;

    > .title {
      $height: 95px;
      color: $color-white;
      height: $height;

      > .number, > .text {
        float: left;
      }
      > .number {
        @include singleLineHeight(55px);
        width: 170px;
        background: $color-white;
        color: $color-black;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        text-align: center;
        margin: 20px;
      }
      > .text {
        @include singleLineHeight($height);
        display: block;
        width: 590px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    > .merged_by {
      display: none;

      > .avatar {
        @include avatar();
        margin: 20px;
        float: left;
      }
      > .login {
        float: left;
        margin-top: 20px;
        @include singleLineHeight(90px);
      }
    }

    > .lines {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      border: solid 1px #cdcdcd;
      display: inline-block;
      @include singleLineHeight(70px);
      margin: 20px;

      > .octicon, > .add, > .sub {
        float: left;
        padding-left: 20px;
        &.sub {
          padding-right: 20px;
        }
      }
      > .octicon {
        height: 100%;
        width: 30px;
      }
      > .add {
        color: #2f9c46;
        &:before {
          content: '+';
        }
      }
      > .sub {
        color: #c32032;
        &:before {
          content: '-';
        }
      }
    }

    > .description {
      line-height: 36px;
      margin: 20px;
      margin-top: 0;
      height: 36px * 4;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin: 0;
      }
      table {
        display: none;
      }
    }
  }

  &.animateShow {
    &:before {
      animation-name: fadeIn;
    }
    > .head {
      animation-delay: .5s;
      animation-name: bounceInUp;
    }
    > .body  {
      animation-delay: .65s;
      animation-name: bounceInUp;
    }
  }
  &.animateHide {
    &:before {
      animation-name: fadeOut;
      animation-delay: .5s;
    }
    > .head {
      animation-delay: .15s;
      animation-name: bounceOutDown;
    }
    > .body {
      animation-name: bounceOutDown;
    }
  }

  @include setColor('watch', 'started', $color-ok);
  @include setColor('pull_request', 'opened', $color-main);
  @include setColor('issue_comment', 'created', $color-main);

  @include hasBody('pull_request', 'opened');
  @include hasBody('pull_request', 'merged');
  @include hasBody('issue_comment', 'created');

  @include setColor('pull_request', 'merged', $color-merged);

  // Other specific styles
  &.pull_request.merged {
    > .head {
      margin-top: -320px + 75px;
    }
    > .body {
      margin-top: 75px;
      height: 220px;
      > .lines {
        display: none;
      }
      > .merged_by {
        display: block;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.75; }
}
@keyframes fadeOut {
  from { opacity: 0.75; }
  to { opacity: 0; }
}

@keyframes bounceInUp {
  from { top: 500%; }
  60% { top: 30%; }
  75% { top: 60%; }
  90% { top: 48%; }
  to { top: 50%; }
}
@keyframes bounceOutDown {
  from { top: 50%; }
  10% { top: 48%; }
  25% { top: 60%; }
  40% { top: 30%; }
  to { top: 500%; }
}

@keyframes inverseScroll {
  from { width: 100% }
  to { width: 0% }
}
