.issue {
  $height: 55px;
  $width: 174px;
  $radius: 5px;

  box-sizing: border-box;
  height: $height;
  width: $width;
  margin: $margin;

  position: relative;
  display: inline-block;
  overflow: auto;
  float: left;
  border-radius: $radius;

  > .number,
  > .avatar {
    float: left;
  }

  > .number {
    font-size: 28px;
    display: inline-block;
    height: $height;
    width: $width - $height;
    line-height: $height;
    vertical-align: middle;
    text-align: center;
  }

  &.wait-for-user {
    > .number {
      background-image: url('../img/angle.png');
      background-repeat: no-repeat;
    }
  }

  &.ok {
    background-color: $color-ok;
  }

  &.warning {
    background-color: $color-warning;
  }

  &.merged {
    background-color: $color-merged;
  }

  &.error {
    background-color: $color-error;
  }

  > .avatar {
    width: $height;
    height: $height;
    position: absolute;
    top: 0;
    right: 0;
  }

  .not-assignee {
    font-size: 16px;
    line-height: $height;
    vertical-align: middle;
    padding-left: ($height / 2) - 8px;
  }
}
