.issue {
  box-sizing: border-box;
  height: $issue-height;
  width: $issue-width;
  margin: $margin;

  position: relative;
  display: inline-block;
  overflow: auto;
  float: left;
  border-radius: $issue-radius;

  > .number,
  > .avatar {
    float: left;
  }

  > .number {
    font-size: $issue-font-size;
    display: inline-block;
    height: $issue-height;
    width: $issue-width - $issue-height;
    line-height: $issue-height;
    vertical-align: middle;
    text-align: center;
  }

  &.wait-for-user {
    > .number {
      background-image: url('../img/angle.png');
      background-repeat: no-repeat;
    }
  }

  &.ok {
    background-color: $color-ok;
  }

  &.warning {
    background-color: $color-warning;
  }

  &.merged {
    background-color: $color-merged;
  }

  &.error {
    background-color: $color-error;
  }

  > .avatar {
    width: $issue-height;
    height: $issue-height;
    position: absolute;
    top: 0;
    right: 0;
  }

  &.not-assigned {
    > .octicon {
      $size: 19px;
      position: absolute;
      top: ($issue-height - $size) / 2;
      right: ($issue-height - $size) / 2;
      width: $size;
      height: $size;
    }
  }
}
