$margin: 8px;

$color-background: #303030;
$color-ok: #37A958;
$color-warning: #FF982B;
$color-error: #D03641;
$color-merged: #7845A0;
$color-white: #FFF;

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin {
    top: $margin;
    right: $margin;
    bottom: $margin;
    left: $margin + 2;
  }
  background-color: $color-background;
}

.issue {
  $height: 55px;
  $width: 174px;
  $radius: 5px;

  font-weight: 300;
  color: $color-white;
  font-size: 28px;
  display: inline-block;
  overflow: auto;
  float: left;
  margin: $margin;
  position: relative;
  border-radius: $radius;
  position: relative;

  > .number,
  > .avatar {
    float: left;
  }

  > .number {
    box-sizing: border-box;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    display: inline-block;
    height: $height;
    width: $width;
    padding-right: $height;
    background-color: $color-error;
    line-height: $height;
    vertical-align: middle;
    text-align: center;
  }

  &.wait-for-user {
    > .number {
      background-image: url('img/angle.png');
      background-repeat: no-repeat;
    }
  }

  &.ok {
    > .number {
      background-color: $color-ok;
    }
  }

  &.warning {
    > .number {
      background-color: $color-warning;
    }
  }

  &.merged {
    > .number {
      background-color: $color-merged;
    }
  }

  > .avatar {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    width: $height;
    height: $height;
    position: absolute;
    top: 0;
    right: 0;
  }

  &.not-assignee {
    position: relative;

    > .avatar {
      display: none;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      background: $color-white;
    }

    &:before {
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }

    &.ok {
      &:before {
        @keyframes notification-ok {
          $size-start: 4px;
          $size-end: 24px;
          0%   {
            background: $color-white;
            width: $size-start;
            height: $size-start;
            border-radius: $size-start;
            right: ($height - $size-start) / 2;
            top: ($height - $size-start) / 2;
          }
          20% {
            background: $color-ok;
            width: $size-end;
            height: $size-end;
            border-radius: $size-end;
            right: ($height - $size-end) / 2;
            top: ($height - $size-end) / 2;
          }
          100% {
            background: $color-ok;
          }
        }
        animation-name: notification-ok;
      }
    }

    &.warning {
      &:before {
        @keyframes notification-warning {
          $size-start: 4px;
          $size-end: 24px;
          0%   {
            background: $color-white;
            width: $size-start;
            height: $size-start;
            border-radius: $size-start;
            right: ($height - $size-start) / 2;
            top: ($height - $size-start) / 2;
          }
          25% {
            background: $color-warning;
            width: $size-end;
            height: $size-end;
            border-radius: $size-end;
            right: ($height - $size-end) / 2;
            top: ($height - $size-end) / 2;
          }
          100% {
            background: $color-warning;
          }
        }
        animation-name: notification-warning;
      }
    }

    &.error {
      &:before {
        @keyframes notification-error {
          $size-start: 4px;
          $size-end: 24px;
          0%   {
            background: $color-white;
            width: $size-start;
            height: $size-start;
            border-radius: $size-start;
            right: ($height - $size-start) / 2;
            top: ($height - $size-start) / 2;
          }
          25% {
            background: $color-error;
            width: $size-end;
            height: $size-end;
            border-radius: $size-end;
            right: ($height - $size-end) / 2;
            top: ($height - $size-end) / 2;
          }
          100% {
            background: $color-error;
          }
        }
        animation-name: notification-error;
      }
    }

    &:after {
      $size: 8px;
      height: $size;
      width: $size;
      border-radius: $size;
      right: ($height - $size) / 2;
      top: ($height - $size) / 2;
    }
  }
}
