@font-face {
  font-family: lato;
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: lato;
  font-weight: 300;
  src: url('../fonts/Lato-Light.ttf');
}
@font-face {
  font-family: lato;
  font-weight: 700;
  src: url('../fonts/Lato-Bold.ttf');
}
