@mixin centerElement($height, $width) {
  display: block;
  position: absolute;
  height: $height;
  width: $width;
  top: 50%;
  left: 50%;
  margin: {
    top: -$height / 2;
    left: -$width / 2;
  }
}

@mixin fullParent() {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin singleLineHeight($height) {
  line-height: $height;
  height: $height;
  vertical-align: middle;
}
