$margin: 8px;

$issuesCount: 8;

$issue-height: 68px;
$issue-width: ((1920px - (2 * $margin)) / $issuesCount) - (2 * $margin);
$issue-radius: 5px;
$issue-font-size: 34px;

$color-background: #303030;
$color-ok: #37A958;
$color-warning: #FF982B;
$color-error: #D03641;
$color-merged: #7845A0;
$color-main: #348bc1;
$color-white: #FFF;
$color-black: #000;
